# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Node
node_modules/
frontend/dist/
*.tsbuildinfo

# Environment
.env
*.db

# IDE
.vscode/
.idea/

# Docker
.dockerignore

# OS
.DS_Store

# Project
TODO
allowed_emails.txt
